In [3]:
import numpy as np

#np.random,normal(mean, standard deviation, no. of values)
#it's a normal distribution
x = np.random.normal(30, 10, 10)
print(x)

[31.54626147 39.39452629 29.48665533 49.22296675 25.73506073  7.76157202
 31.89740421 27.64996422 32.7296644  17.65878602]

# List

In [16]:
List = [10, 20, 30, 40, 50]
print(len(List))
print(List[:2])
print(List[3:])
print(List[:-3])
print(List[-3:])

5
[10, 20]
[40, 50]
[10, 20]
[30, 40, 50]

In [9]:
#to add a set of values in the form of a list
List.extend([60,70])
print(List)

[10, 20, 30, 40, 50, 60, 70, 60, 70, 60, 70]

In [10]:
#to add a single value to the list
List.append(80)
print(List)

[10, 20, 30, 40, 50, 60, 70, 60, 70, 60, 70, 80]

In [11]:
#it's a list of lists
List2 = [100, 110, 120, 130]
listoflists = [List, List2]
print(listoflists)

[[10, 20, 30, 40, 50, 60, 70, 60, 70, 60, 70, 80], [100, 110, 120, 130]]

In [12]:
#to sort a list
a= [30, 50, 10]
a.sort()
a

[10, 30, 50]

In [13]:
#to sort in reverse order
a.sort(reverse=True)
a

[50, 30, 10]

# Tuple
Tuples are immutable lists. 
Once a tuple is created, can't change it.

In [18]:
x = (1,2,3)
len(x)

3

In [23]:
y = (10, 20, 30)
listoftuples=[x,y]
tupleoftuples= (x,y)
listoftuples

[(1, 2, 3), (10, 20, 30)]

In [24]:
tupleoftuples

((1, 2, 3), (10, 20, 30))

In [25]:
(name, age)= "John,25".split(',')
print(name)
print(age)

John
25

# Dictionary
Like a map or hash table

In [26]:
captains = {} #Empty Dictionary
captains["Enterprise"] = "Kirk" #here "Enterprise" is the key and "Kirk" is the value
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Deep Space Nine"])

Sisko

In [28]:
print(captains.get("Enterprise D"))
print(captains.get("Harry Potter"))

Picard
None

In [29]:
for ship in captains:
    print(ship + ":" + captains[ship])

Enterprise:Kirk
Enterprise D:Picard
Deep Space Nine:Sisko
Voyager:Janeway

# Functions

In [31]:
def Square(x):
    return x * x

print(Square(4))

16

In [32]:
def fn(f, a):
    return f(a)

print(Square(6))

36

#### Lambda Function

In [40]:
#Lambda Functions are often used for short, simple operations that are not likely to be reused elsewhere. 
print(fn(lambda x: x*x*x, 4))

64

# Loops

In [41]:
for x in range(10):
    if(x == 1):
        continue
    if(x > 5):
        break
    print(x)

0
2
3
4
5

In [42]:
m = 0
while(m<10):
    print(m)
    m+=2

0
2
4
6
8